<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8" />
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
  />
  <link
      href="https://font.elice.io/css?family=Elice+DX+Neolli"
      rel="stylesheet"
  />

  <style>
    html,
    body {
      font-family: "Elice DX Neolli", sans-serif;
    }
  </style>
  <title>게시판 수정</title>
</head>
<body>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">Lovestargram</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/boards}">Boards</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-link nav-link">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <div class="header mb-5">
    <h1 class="text-center">게시판 수정</h1>
  </div>
  <form
      th:action="@{/boards/{boardId}/edit(boardId=${board.boardId})}"
      method="post"
  >
    <div class="mb-3">
      <label for="name">게시판 이름</label>
      <input
          type="text"
          class="form-control"
          id="name"
          name="boardName"
          maxlength="20"
          placeholder="게시판 이름 입력 (최대 20자)"
          required
          th:value="${board.boardName}"
      />
    </div>
    <div class="mb-3">
      <label for="description">게시판 설명</label>
      <textarea
          class="form-control"
          id="description"
          name="description"
          maxlength="200"
          placeholder="게시판 설명 입력 (최대 200자)"
          th:text="${board.description}"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">게시판 수정</button>
    <button
        type="button"
        class="btn btn-secondary"
        onclick="window.history.back();"
    >
      취소
    </button>
  </form>
</div>

<!-- 부트스트랩 JS 추가 -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
></script>
</body>
</html>
