<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <!-- Bootstrap CSS 및 기타 CSS 파일 포함 -->
  <style>
    body {
  background-color: #ffe6e6;
}
  .vh-100 {
  height: 100vh;
}

  </style>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mb-4">Register</h1>
      <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" th:field="*{username}" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>
<!-- Bootstrap JS 및 기타 JS 파일 포함 -->
</body>
</html>